<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ezfarm.office.project">
	<select id="selectEzBizTeam" parameterType="io.mkeasy.utils.EgovMap" resultType="io.mkeasy.utils.EgovMap">
        SELECT * FROM EZ_BIZ_TEAM
    </select>
	<select id="selectEzProjCode" parameterType="io.mkeasy.utils.EgovMap" resultType="io.mkeasy.utils.EgovMap">
        SELECT * FROM EZ_PROJ_CODE
    </select>
</mapper>